@model IEnumerable<NHLapp.Models.NHL.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Team.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Team.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
        </td>
    </tr>
}

</table>
